# DVD Rental Data Model

Lets load the necessary packages to SQL in this notebook.  I will be using the ipython sql extension and also pandas.  

to use and the ipython sql extesion we need to install the ipython-sql extensin using pip install ipython-sql extesion.  To be able to use  pandas we also need to install the pandas package using the pip install pandas

In [5]:
%load_ext sql
import pandas as pd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
DB_ENDPOINT = "127.0.0.1"
DB = 'dvdrental'
DB_USER = 'manny'
DB_PASSWORD = 'Yankees1'
DB_PORT = '5433'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://manny:Yankees1@127.0.0.1:5433/dvdrental

In [8]:
%sql $conn_string

### Record counts for each table in the database 

For each table in th edata were going to do a quick record count to determine the size of each table.

In [11]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t=", nCustomers[0][0])
print("nRentals\t=", nRentals[0][0])
print("nPayment\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nStores\t\t=", nStores[0][0])
print("nCities\t\t=", nCity[0][0])
print("nCountry\t\t=", nCountry[0][0])

* postgresql://manny:***@127.0.0.1:5433/dvdrental
1 rows affected.
 * postgresql://manny:***@127.0.0.1:5433/dvdrental
1 rows affected.
 * postgresql://manny:***@127.0.0.1:5433/dvdrental
1 rows affected.
 * postgresql://manny:***@127.0.0.1:5433/dvdrental
1 rows affected.
 * postgresql://manny:***@127.0.0.1:5433/dvdrental
1 rows affected.
 * postgresql://manny:***@127.0.0.1:5433/dvdrental
1 rows affected.
 * postgresql://manny:***@127.0.0.1:5433/dvdrental
1 rows affected.
 * postgresql://manny:***@127.0.0.1:5433/dvdrental
1 rows affected.
nFilms		= 1000
nCustomers	= 599
nRentals	= 16044
nPayment	= 14596
nStaff		= 2
nStores		= 2
nCities		= 600
nCountry		= 109

### Exploring the payment table

Lets explore the payment table as it contains date information of payments we are considering this table to have fact data.  Fact is data that can be measure by the dimensions.   We can also use the data in the payment table as a dimension to allow the user to to time analysis on the data.   

Notice from the below query we have data in th payment tables between 2/24/2007 and 5/14/2007.

In [12]:
%%sql 

select min(payment_date) as MinDate
    , max(payment_date) as MaxDate
from payment

* postgresql://manny:***@127.0.0.1:5433/dvdrental
1 rows affected.

[(datetime.datetime(2007, 2, 14, 21, 21, 59, 996577), datetime.datetime(2007, 5, 14, 13, 44, 29, 996577))]