In [40]:
import pandas as pd
import psycopg2
import os
from sqlalchemy import create_engine
from io import StringIO

In [24]:
df = pd.read_csv('data/database.csv').fillna('UNKNOWN')

Load the data into a pandas Dataframe and fill the null values with 'Unkknown' rather than delete null values we can handle that later as we are flagging those null values.

In [25]:
df.head()

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,UNKNOWN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,UNKNOWN,...,0,0,0,0,0,0,0,0,0,0

In [50]:
# Initialize a string buffer
sio = StringIO()
sio.write(df.to_csv(index=None, header=None, sep='\t'))  # Write the Pandas DataFrame as a csv to the buffer
sio.seek(0)  # Be sure to reset the position to the start of the stream

0

Columns contains spaces we will be removing the spaces from the columns to make things easier in SQL.

In [47]:
df.columns = df.columns.str.replace(' ', '')

,RecordID,IncidentYear,IncidentMonth,IncidentDay,OperatorID,Operator,Aircraft,AircraftType,AircraftMake,AircraftModel,...,FuselageStrike,FuselageDamage,LandingGearStrike,LandingGearDamage,TailStrike,TailDamage,LightsStrike,LightsDamage,OtherStrike,OtherDamage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,UNKNOWN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,UNKNOWN,...,0,0,0,0,0,0,0,0,0,0

In [48]:
engine = create_engine('postgres+psycopg2://manny:Yankees1@127.0.0.1:5433/maderaanalytics')

df.head(0).to_sql('birdstrike', engine, if_exists='replace', index=False)

In [51]:
conn=engine.raw_connection()
cur = conn.cursor()
cur.copy_from(sio, 'birdstrike')
conn.commit()

In [52]:
conn.close()